body {
    background-image: url("record.png");
    background-repeat:repeat;
    margin: 0;
}

.Opener {
    background-color: darkolivegreen;
    color:gold;
    text-align:center;
}

.Page {
    background-color: lightgrey;
    margin: 1em;
}